Django>=2.0,<3.0
psycopg2>=2.7,<3.0
djangorestframework==3.11.0
django-storages==1.7.1
boto==2.49.0
boto3==1.9.209
botocore==1.12.209
django-environ==0.4.5
Pillow
django-cors-headers==3.0.2
psycopg2-binary
Werkzeug
django-environ